@model object

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>OAuth</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" >
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div>
        <div class="mdc-card">
            Subscribe Success
        </div>
</div>
<script>
    $(function() {
        
    });
</script>
</body>
</html>